run = "cd backend && npm start"
entrypoint = "backend/src/index.js"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80
