run = "cd backend && npm start"
entrypoint = "backend/src/index.js"

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "cd backend && npm install"]
run = ["sh", "-c", "cd backend && node src/index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80
